/* CSS RESET  */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header part  */

.navBar{
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  padding: 20px;
  position: fixed;
  background-color: white;
  z-index: 1;
}
.navList{
  float: right;
}
.navList li{
  display: inline-flex;
  justify-content: space-between;
  margin: 15px 0px 0px 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
}
.navList li a{
  text-decoration: none;
  color: #323232;
}
.navList li a:hover{
  color: rgb(255, 183, 0);
}
/* header ends  */
/* main parts starts */
.hero-section{
  border-collapse: collapse;
  width: 100%;
}
.mainSection{
  margin-top: -10px;
  height: 100%;
  background-image: linear-gradient(180deg, #ff8c00, #fdf9f5);
}
.mainHead{
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 33px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.6px;
}
.mainImage{
  width: 825px;
  height: 464.06px;
  padding-left: 100px;
  float: left;
  position: relative;
}
.mainHeading{
  position: absolute;
  padding-left: 700px;
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 55px;
  line-height: 70px;
} 
.mainText{  
  line-height: 40px;
  font-size: 24px;
  position: absolute;
  padding-left: 700px;
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-top: 300px;
} 
.mainPages {
  font-size: medium;
  text-decoration: underline;
  padding-right: 50px;
  font-size: 19px;
  letter-spacing: 1.3px;
}
.playButton {
  font-size: 40px;
  color: white;
  line-height: 40px;
  
}
.mainButton {
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin: 30px 301px 0px 460px;
  line-height: 20px;

}
.mainButton:hover {
  background-color:rgb(255, 89, 0);
  color: white;
}
.mainHead2{
  text-align: center;
  color: #ff8c00;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 1.3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.mainText2{
  font-size: 26px;
  line-height: 40px;
  padding-top: 50px;
  text-align: center;
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainLast{
  text-align: center;
  padding-top: 100px;
}
.mainPart{
  animation: 2s;
  animation-name: clear;
}
@keyframes clear{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/* main parts ends  */
/* last parts starts */
.articleFirst{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.first1{
  width: 100vm;
  position: relative;
  grid-area: 1/1/2/2;
}
.first2{
  width: 100vm;
  position: relative;
  grid-area: 1/2/2/3;
}
.first3{
  width: 100vm;
  position: relative;
  margin-top: -24px;
  grid-area: 2/1/3/2;
}
.first4{
  width: 100vm;
  position: relative;
  margin-top: -24px;
  grid-area: 2/2/3/3;
}
.articleSecond{
  margin-top: -23px;
}
.overHead{
  position: absolute;
  top: 150px;
  left: 180px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.OverIcon{
  position: absolute;
  top: 250px;
  left: 300px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.overText{
  font-family: sans-serif;
  position: absolute;
  top: 170px;
  left: 40px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: top ease 0.5s;
}
.first1:hover img{
  filter: brightness(0.5);
}
.first1:hover .overHead{
  top: 70px;
}
.first1:hover .OverIcon{
  top: 300px;
}
.first1:hover .overText{
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}
@keyframes show {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.5;}
  75%{opacity: 0.75;}
  100%{opacity: 1;}
}

.overHead2{
  position: absolute;
  top: 150px;
  left: 200px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.OverIcon2{
  position: absolute;
  top: 250px;
  left: 300px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.overText2{
  font-family: sans-serif;
  position: absolute;
  top: 170px;
  right: 40px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: top ease 0.5s;
}
.first2:hover img{
  filter: brightness(0.5);
}
.first2:hover .overHead2{
  top: 70px;
}
.first2:hover .OverIcon2{
  top: 300px;
}
.first2:hover .overText2{
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.overHead3{
  position: absolute;
  top: 150px;
  left: 200px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
  
}
.OverIcon3{
  position: absolute;
  top: 250px;
  left: 300px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
  
}
.overText3{
  font-family: sans-serif;
  position: absolute;
  top: 170px;
  left: 40px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: top ease 0.5s;
  
}
.first3:hover img{
  filter: brightness(0.5);
}
.first3:hover .overHead3{
  top: 70px;
}
.first3:hover .OverIcon3{
  top: 300px;
}
.first3:hover .overText3{
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}

.overHead4{
  position: absolute;
  top: 150px;
  left: 250px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.OverIcon4{
  position: absolute;
  top: 250px;
  left: 350px;
  font-size: 70px;
  color: #ffffff;
  transition: top ease 0.5s;
}
.overText4{
  font-family: sans-serif;
  position: absolute;
  top: 170px;
  right: 40px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: top ease 0.5s;
}
.first4:hover img{
  filter: brightness(0.5);
}
.first4:hover .overHead4{
  top: 70px;
}
.first4:hover .OverIcon4{
  top: 300px;
}
.first4:hover .overText4{
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* last parts ends  */
/* footer starts */
footer{
  background-color: #333333;
  margin-top: -10px;
}
.footerImage{
  text-align: center;
  padding-top:30px ;
  position: relative;
}

.footerText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  text-align: center;
  color: #ffffff;
}
.footerList1 ul{
  list-style: none;
  text-align: center;
}
.footerListContent li{
  display: inline-flex;
  justify-content: space-between;
  margin: 25px 0px 0px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22.5px;
  color: #ffffff;
}
.copyRight{
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  color: #ffffff;
}
.footerListIcons li{
  display: inline-flex;
  justify-content: space-between;
  margin: 25px 0px 0px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
.footerListContent li:hover{
  text-decoration: underline;
}
/* footer ends  */
